<div class="specialized-content-container">
    <h1>Contact Me</h1>
    <p id="about-paragraph">If you have any questions, suggestions, or just want to get in contact with me. Fill free to reach out to me at nickgrove.se@gmail.com. Thanks</p>
</div>