<% for (let i = 0; i < archetypes.length; i++) { %>
    <a class="archetype-link" href="/format/<%= archetypes[i].format.charAt(0).toLowerCase() + archetypes[i].format.slice(1) %>/<%= archetypes[i].name.replace(" ", "-")%>">
        <div class="archetype-panel">
            <div><%= archetypes[i].name %></div>
            <div>
                Meta %
                Price $
            </div>
            <div>Colors</div>
        </div>
    </a>
    
<% } %>