<% for (let i = 0; i < archetypes.length; i++) { %>
    <a href="/format/<%= archetypes[i].format.charAt(0).toLowerCase() + archetypes[i].format.slice(1) %>/<%= archetypes[i].id %>"><%= archetypes[i].name %></a>
    <br>
<% } %>