<header>
    <div id="nav-bar">
        <ul id="nav-bar-collection">
            <li id="home-navigation"><a class="left-nav-button" id="home-navigation-link" href="/"></a></li>
            <li><a class="right-nav-button" href="/format">Format Info</a></li>
            <li><a class="right-nav-button" href="/about">About</a></li>
        </ul>
    </div>
</header>