<header>
    <div id="nav-bar">
        <ul id="nav-bar-collection">
            <li class="left-nav" id="home-navigation"><a href="/">MTGMetTracker</a></li>
            <li class="right-nav" id="format-navigation"><a href="/format">Format Info</a></li>
            <li class="right-nav" id="about-navigation"><a href="/about">About</a></li>
        </ul>
    </div>
</header>