<header>
    <div id="nav-bar">
        <ul id="nav-bar-collection">
            <li class="nav-item" id="home-navigation"><a class="nav-button" id="home-navigation-link" href="/">MTGMetaTracker</a></li>
            <li class="nav-item" ><a class="nav-button" href="/format">Format Info</a></li>
            <li class="nav-item" ><a class="nav-button" href="/about">About</a></li>
        </ul>
    </div>
</header>

<!-- <div class="continuation" id="blue-elem">
    <div class="backing" id="raisin-black-elem">
        <div class="divider" id="black-elem"></div>
    </div>
</div>

<div class="continuation" id="black-elem">
    <div class="backing" id="gray-elem">
        <div class="divider" id="raisin-black-elem"></div>
    </div>
</div>

<div class="continuation" id="raisin-black-elem">
    <div class="backing" id="white-elem">
        <div class="divider" id="gray-elem"></div>
    </div>
</div>

<div class="continuation" id="gray-elem"></div> -->