<header>
    <div id="nav-bar">
        <ul id="nav-bar-collection">
            <li id="home-navigation"><a class="nav-button" href="/">MTGMetTracker</a></li>
            <li id="format-navigation"><a class="nav-button" href="/format">Format Info</a></li>
            <li id="about-navigation"><a class="nav-button" href="/about">About</a></li>
        </ul>
    </div>
</header>