<ul class="graph-tabs" aria-labelledby="tabs-title">
    <li class="tab-item" id="meta-item"><a onclick="graphToggle(this)" class="tab-buttons" id="meta-button">Meta</a></li>
    <li class="tab-item" id="price-item"><a onclick="graphToggle(this)" class="tab-buttons" id="price-button">Price</a></li>
</ul>