<ul class="graph-tabs" aria-labelledby="tabs-title">
    <li><a onclick="graphToggle(this)" class="tab-buttons" id="tab-1">Meta</a></li>
    <li><a onclick="graphToggle(this)" class="tab-buttons" id="tab-2">Price</a></li>
</ul>