<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <title>MTGMetaTracker</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
        <div class="divider" id="periwinkle-div">
            <div class="divider" id="jordy-blue-div">
                <div class="divider" id="cornflower-blue-div">
                    <%- include('../partials/header.ejs') %>
                </div>
            </div>
        </div>
        <%- body %>
    </body>
</html>