<div class="tabs-container">
    <div class="content-container">
        <%- include('../../partials/tab-view.ejs') %>
        <div class="tab-panels">
            <div id="meta" aria-labelledby="tab-1">
                <%- include('../../partials/meta-graph.ejs') %>
            </div>
    
            <div id="price" aria-labelledby="tab-2">
                <%- include('../../partials/price-graph.ejs') %>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const metaPanel = document.getElementById("meta")
        const pricePanel = document.getElementById("price")
        const metaItem = document.getElementById("meta-item")
        const priceItem = document.getElementById("price-item")
        const metaButton = document.getElementById("meta-button")
        const priceButton = document.getElementById("price-button")
        priceItem.style.backgroundColor = "rgb(142,177,255)"
        priceItem.style.borderBottom = "1px solid rgb(29,99,255)"
        priceButton.style.color = "rgb(252,252,252)"
        pricePanel.style.display = "none"

        function graphToggle(element) {
            if ($(element).text() == "Meta") {
                pricePanel.style.display = "none"
                priceItem.style.backgroundColor = "rgb(142,177,255)"
                priceItem.style.borderBottom = "1px solid rgb(29,99,255)"
                priceButton.style.color = "rgb(252,252,252)"

                metaPanel.style.display = "block"
                metaItem.style.backgroundColor = "rgb(252,252,252)"
                metaItem.style.borderBottom = "none"
                metaButton.style.color = "black"
            } else {
                pricePanel.style.display = "block"
                priceItem.style.backgroundColor = "rgb(252,252,252)"
                priceItem.style.borderBottom = "none"
                priceButton.style.color = "black"

                metaPanel.style.display = "none"
                metaItem.style.backgroundColor = "rgb(142,177,255)"
                metaItem.style.borderBottom = "1px solid rgb(29,99,255)"
                metaButton.style.color = "rgb(252,252,252)"
                
            }
        }
        
    </script>
</div>


