<h1>Home Page</h1>

Choose What Format?
<select id="format-selection">
    <option>Select</option>
    <option value="pioneer">Pioneer</option>
    <option value="modern">Modern</option>
    <option value="pauper">Pauper</option>
</select>