body {
    color: black;
    background-color: white;
    margin: 0;
}

h1 {
    font-size: 30px;
}

p {
    font-family: 'Futura';
    font-size: 15px;
}

#nav-bar {
    background-color: #1D63FF;
    margin: none;
}

#nav-bar-collection {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0 30px 0 30px;
} 

#home-navigation {
    padding: 0;
    margin-top: 9;
    margin-bottom: 9;
    margin-right: auto;
}

#home-navigation-link {
    background-image: url('../content/logo.png');
    background-size: 88.7px 50px;
    background-repeat: no-repeat;
    width: 88.7px;
    height: 50px;
}

li {
    display: inline;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 10px;
}

li .left-nav-button {
    display: block;
    position: relative;
}


li .right-nav-button {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    overflow: hidden;
}

.tab-buttons {
    color: black;
}

.right-nav-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    transition: opacity 300ms, transform 300ms;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
  
.right-nav-button:hover::after,
.right-nav-button:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

#format-selection-container {
    text-align: center;
    height: 700px;
}

#gradient {
    width: 100%;
    height: 300px;
    background: rgb(29,99,255);
    background: linear-gradient(rgba(29,99,255,1) 0%, rgba(0,0,0,1) 99%);
}
