body {
    margin: 0;
}

h1 {
    font-size: 30px;
}

p {
    font-family: 'Futura';
    font-size: 15px;
}

#nav-bar {
    margin: none;
}

#nav-bar-collection {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0 30px 0 30px;
} 

.left-nav {
    margin-right: auto;
}

li a {
    text-decoration: none;
    color: black;
}

li {
    display: inline;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 10px;
}

#format-selection-container {
    text-align: center;
}
