<div class="specialized-content-container">
    <h1>What is MTGMetaTracker?</h1>
    <p id="about-paragraph">MTGMetaTracker is site that Magic players can use to see how the popularity and price of MTG deck archetypes change as time goes on. Gathering data from <a href="https://www.mtggoldfish.com">MTG Goldfish</a> each week, players are able visualize the rise and fall of deck types.</p>
    <h1>About Me</h1>
    <p id="about-paragraph">My name is Nick Grove and I am Front-End Web Developer and Web Designer. I love working on passion projects like these, and it means a lot to me that you support my endeavors. If you want reach out to me, head over to the <a href="/contact">Contact Page</a>, I would love to hear from you! If you want to check any of my other projects or what I am working on currently check out my links below.</p>
    <p id="about-paragraph">For My Programming Projects Check Out my Githubs: <a href="https://github.com/NickGroveSE">Current Github</a> & <a href="https://github.com/Feauv">University Github</a></p>
    <p id="about-paragraph">For My Design Projects: <a href="https://www.behance.net/nickgrove1">Behance</a></p>
</div>