<div class="content-container">
    <br>
    <div id="archetype-container">
        <div>
            <div id="other-formats">
                <a href="/format/pioneer">Pioneer</a> | <a href="/format/modern">Modern</a> | <a href="/format/pauper">Pauper</a> | <a href="/format/legacy">Legacy</a> | <a href="/format/vintage">Vintage</a>
            </div>
            <h1 id="format-heading">Top 30 Legacy Archetypes</h1>
        </div>
        <%- include('../partials/archetype-listing.ejs') %>
    </div>
</div>